@keyframes pop {
    0% {
        visibility: hidden;
        bottom: -100px;
    }
    20% {
        visibility: visible;
        bottom: 10px;
    }
    80% {
        visibility: visible;
        bottom: 10px;
    }
    100% {
        visibility: hidden;
        bottom: -100px;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}

.copyToClip-pop {
    visibility: hidden;
    position: fixed;
    left: 10px;
    bottom: -100px;
    height: 40px;
    background: #829DFB;
    font-size: 12px;
    padding: 10px;
    color: rgba(255, 255, 255, 0.80);
}

.copy-pop-anim {
    animation: pop 2s 1;
    animation-fill-mode: forwards;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(253, 253, 253);
}

.landing {
    width: 100%;
    font-family: 'Oswald', sans-serif;
    color: white;
    background-image: url(../Media/background.png);
    background-size: cover;
}

.landing-header {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: top;
    justify-content: space-between;
    padding: 15px;
}

.landing-header_name {
    font-size: 18px;
}

.lighttext {
    opacity: .6;
    margin-left: 5px;
}

.landing-header_links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 12px;
}

.landing-header_links > span {
    cursor: pointer;
    margin-right: 10px;
    opacity: .8;
}

.landing-welcome {
    width: 100%;
    height: 400px;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
    padding-top: 40px;
}

.landing-welcome_body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.landing-welcome_body > h1 {
    font-size: 45px;
    font-weight: 300;
    letter-spacing: 1px;
    opacity: .8;
}

.landing-welcome_body > h3 {
    font-weight: 300;
    font-size: 15px;
    letter-spacing: .5px;
    opacity: .8;
}

.landing-welcome_body > div {
    width: 200px;
    height: 40px;
    background: white;
    border-radius: 50px;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 50px;
    font-size: 12px;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.video-container {
    position: absolute;
    bottom: -20px;
}

.video-container > video {
    width: 450px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.landing-main {
    margin-top: 150px;
    width: 1240px;
    font-family: 'Oswald', sans-serif;
}

.landing-main_filter {
    width: 100%;
    height: 100px;
}

.landing-main_filter > div > span {
    font-size: 35px;
    margin-left: 5px;
    margin-right: 5px;
    opacity: .6;
}

.landing-main_search {
    width: 200px;
    height: 40px;
    background: white;
    margin-left: 40px;
    border-radius: 50px;
    background: rgb(131, 152, 230);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.landing-main_search > input {
    background: inherit;
    width: 80%;
    height: 50%;
    border: none;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
}

.landing-galleries {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 30px 80px;
}

.gallery-container {
    width: 250px;
    height: 350px;
    background: white;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.055), 0 15px 12px rgba(0, 0, 0, 0.055);
    display: flex;
    flex-direction: column;
}

.gallery-thumbnail {
    width: 100%;
    min-height: 210px;
    max-height: 210px;
    object-fit: cover;
}

.gallery-text {
    padding: 15px;
    position: relative;
}

.gallery-title {
    font-size: 25px;
    font-weight: 400;
}

.gallery-title-hover {
    position: absolute;
    padding: 5px;
    top: -10px;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.178);
    display: flex;
    flex-flow: row wrap;
    font-size: 13px;
    font-weight: 300;
    visibility: hidden;
}

.gallery-title:hover ~ .gallery-title-hover {
    visibility: visible;
}

.gallery-author {
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    padding-bottom: 5px;
}

.gallery-stats {
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.39);
}

.gallery-stats > span {
    font-size: 11px;
    margin-right: 5px;
}

.stat {
    font-size: 16px;
    margin-right: 3px;
}

.fa-heart, .fa-share:hover{
    cursor: pointer;
}

.make-red {
    color: rgb(231, 66, 66);
}

.gallery-view {
    width: 100%;
    height: 30px;
    background: rgb(119, 148, 253);
    margin-top: 5px;
    color: white;
    letter-spacing: .5px;
    font-size: 12px;
    cursor: pointer;
}

.gallery-view:hover {
    background: rgb(87, 122, 247);
}

.landing-back {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    visibility: hidden;
    cursor: pointer;
    background: rgb(112, 142, 252);
    color: white;
    font-size: 12px;
}

.landing-splat {
    animation: splat 3s 1;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.animate-fadeOut {
    animation: fadeOut 1s 1;
    animation-fill-mode: forwards;
}

.animate-fadeIn {
    animation: fadeIn 1s 1; 
    animation-fill-mode: forwards;
}

.gallery-option {
    position: absolute;
    top: 30px;
    right: 15px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.39);
}

.gallery-pop {
    visibility: hidden;
    position: absolute;
    top: 30px;
    right: 30px;
    width: 60px;
    height: 50px;
    background: rgb(241, 241, 241);
    cursor: pointer;
    font-size: 12px;
}

.gallery-pop > div:first-child, .gallery-pop > div:nth-child(2) {
    padding: 2px;
    width: 100%;
    height: 50%;
}

.gallery-pop > div:first-child:hover, .gallery-pop > div:nth-child(2):hover {
    background: rgb(212, 212, 212);
}

.gallery-pop_show {
    visibility: visible;
}

@media (max-width: 1300px) {
    .landing-main {
        width: 970px;
    }
}

@media (max-width: 1025px) {
    .landing-galleries {
        padding: 30px 40px;
    }
    .landing-main {
        width: 890px;
    }
}

@media (max-width: 950px) {
    .landing-main {
        width: 620px;
    }
}

@media (max-width: 675px) {
    .landing-main {
        width: 310px;
    }
    .landing-galleries {
        padding: 30px 20px;
    }
    .landing-back {
        right: 10px;
        bottom: 10px;
    }
}

@media (max-width: 650px) {
    .landing-welcome_body > h1 {
        font-size: 30px;
    }
}

@media (max-width: 500px) {
    .landing-header_name {
        font-size: 15px;
    }
    .video-container > video {
        width: 300px;
    }
    .landing-header_links > span {
        font-size: 12px;
    }
    .landing-welcome_body > h1 {
        font-size: 23px;
    }
    .landing-welcome_body > h3 {
        font-size: 13px;
    }
    .landing-welcome {
        height: 325px;
    }
}