/* Animations for side menu */

@keyframes slideIn {
    0% {
        margin-left: -100%;
    }
    60% {
        margin-left: 0%;
    }
}

@keyframes slideOut {
    0% {
        margin-left: 0%;
    }
    100% {
        margin-left: -100%;
    }
}

@keyframes pop {
    0% {
        visibility: hidden;
        bottom: -100px;
    }
    20% {
        visibility: visible;
        bottom: 10px;
    }
    80% {
        visibility: visible;
        bottom: 10px;
    }
    100% {
        visibility: hidden;
        bottom: -100px;
    }
}

@keyframes leave {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes fade {
    0% {
        opacity: inherit;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: inherit;
    }
}

/* Lobby view container */
.lobby {
   font-family: 'Oswald', sans-serif;
   width: 100vw;
   min-height: 100vh;
   background-image: url('../Media/LobbyBackdrop.png');
   background-size: cover;
}

/* Overlay that is shown when the side meny is toggled*/

.lobby-overlay {
    width: 100vw;
    height: 100vh;
    background: black;
    position: fixed;
    opacity: .2;
    z-index: 1;
    visibility: hidden;
}

/*Header*/
.lobby-header {
    width: 100vw;
    height: 50px;
    background: rgb(59, 88, 192);
    position: fixed;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.80);
    z-index: 1;
}

.lobby-header_left {
    width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    left: 20px;
}

.lobby-header_left > i {
    font-size: 16px;
    cursor: pointer;
}

.lobby-header_left > i:hover {
    color: white;
}

.lobby-header_left > img {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: 25px;
    margin-right: 5px;
}

.lobby-header_left > span {
    font-size: 14px;
    cursor: pointer;
}

.lobby-header_search {
    width: 500px;
    height: 60%;
    background: rgb(20, 54, 177);
    display: flex;
    visibility: hidden;
}

.lobby-header_search > input {
    height: 100%;
    width: 90%;
    background: inherit;
    border: none;
    color: rgba(255, 255, 255, 0.80);
    padding: 0px 10px;
    font-family: inherit;
    font-weight: 300;
    z-index: 3;
}

.lobby-header_search > input::placeholder {
    color: rgba(255, 255, 255, 0.80);
}

.lobby-header_search > div {
    width: 10%;
    height: 100%;
    font-size: 13px;
}

.lobby-header_right {
    height: 100%;
    width: 100px;
    position: absolute;
    right: 0px;
}

.lobby-header_right > img {
    width: 25px;
    height: 25px;
    border-radius: 50px;
}

/* Side Menu */
.side-menu {
    position: fixed;
    height: 100vh;
    background-image: url('../Media/SideBackdrop.png');
    background-size: cover;
    width: 200px;
    left: 0;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.155), 0 15px 12px rgba(0, 0, 0, 0.155);
    visibility: hidden;
    z-index: 2;
}

.menu-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.menu-header {
    background: rgb(59, 88, 192);
    width: 100%;
    height: 50px;
    color: rgba(255, 255, 255, 0.80);
    font-size: 14px;
    padding: 0px 20px;
    display: flex;
    align-items: center;
}

.menu-header > i {
    cursor: pointer;
    font-size: 16px;
}

.menu-header > img {
    width: 20px;
    height: 20px;
    margin-left: 25px;
    margin-right: 5px;
    cursor: pointer;
}

.menu-header > span {
    cursor: pointer;
}

.menu-header > span:hover, .menu-header > i:hover {
    color: white;
}

.menu-btn {
    width: 100%;
    height: 50px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 300;
    overflow: hidden;
    cursor: pointer;
    letter-spacing: .5px;
    font-size: 14px;
}

.menu-btn-first {
    margin-top: 15px;
}

.menu-btn:hover {
    background: rgb(76, 103, 201);
}

.menu-back {
    background: rgb(94, 82, 209);
}

.menu-icon {
    margin-right: 35px;
    width: 5px;
}

.menu-toggle {
    visibility: visible;
    animation: slideIn .5s 1;
    animation-fill-mode: forwards;
}

.menu-slide {
    animation: slideOut .5s 1;
    animation-fill-mode: forwards;
}

/* Mapped Containers */

.lobby-main-hide {
    overflow: hidden;
}

.gallery-container_lobby {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(110, 142, 254);
}

.lobby-container_gallery {
    width: 100vw;
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.lobby-container_gallery > img {
    width: 300px;
    height: 250px;
    margin-top: 30px;
}

.lobby-card-grid {
    width: 1240px;
    display: flex;
    flex-flow: row wrap;
    padding: 50px 80px;
    padding-bottom: 50px;
}

.lobby-container_gallery > input {
    position: absolute;
    top: 30px;
    left: 265px;
    height: 30px;
    width: 250px;
    padding: 0px 10px;
    font-family: 'Montserrat';
    border: none;
    color: black;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.155), 0 1px 1px rgba(0, 0, 0, 0.155);

}

.lobby-container_gallery > input::placeholder {
    color: black;
}

.lobby-underline {
    position: absolute;
    top: 85px;
    left: 265px;
    width: calc(100vw - 365px);
    border-bottom: 1px solid rgba(0, 0, 0, 0.137);
}

.container-btn {
    width:100px;
    height: 15px;
    border: 1px white solid;
}

.lobby-header_hidden {
    visibility: hidden;
}

.lobby-pop {
    visibility: hidden;
    position: fixed;
    left: 10px;
    bottom: -100px;
    height: 40px;
    background: rgb(238, 50, 50);
    font-size: 12px;
    padding: 10px;
    color: rgba(255, 255, 255, 0.80);
}

.lobby-pop-anim {
    animation: pop 2s 1;
    animation-fill-mode: forwards;
}

.lobby-leave-anim {
    animation: leave 0.5s 1;
    animation-fill-mode: forwards;
}

.lobby-loading {
    width: 100vw;
    height: 100vh;
    font-family: 'Oswald', sans-serif;
    font-size: 45px;
    color: rgb(110, 142, 254);
}

.lobby-loading_content {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.lobby-loading-grid {
    display: flex;
    width: 100%;
}

.lobby-loading-grid > div {
    width: 75px;
    height: 75px;
    margin-top: 25px;
}

.lobby-loading-grid > div:first-child {
    background: rgb(61, 111, 220);
    animation: fade 2s infinite;
}

.lobby-loading-grid > div:nth-child(2) {
    background: rgb(61, 111, 220);
    margin-left: 20px;
    margin-right: 20px;
    animation: fade 2s infinite .3s;
}

.lobby-loading-grid > div:nth-child(3) {
    background: rgb(61, 111, 220);
    animation: fade 2s infinite .6s;
}

.lobby-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lobby-empty > h1 {
    font-size: 60px;
    color: rgba(248, 61, 61, 0.815);
    margin-top: 50px;
}

.lobby-empty > h2 {
    font-size: 25px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 300;
}

/* Queries to make card grid work on mobile */

@media (max-width: 1240px) {
    .lobby-card-grid {
        padding: 100px 40px;
        width: 1160px;
    }
}

@media (max-width: 1160px) {
    .lobby-card-grid {
        width: 890px;
    }
    .lobby-header_search {
        width: 400px;
    }
}

@media (max-width: 890px) {
    .lobby-card-grid {
        width: 620px;
    }
    .lobby-header_search {
        width: 275px;
    }
}

@media (max-width: 620px) {
    .lobby-card-grid {
        padding: 100px 20px;
        width: 310px;
        padding-bottom: 25px;
    }
}