#Lobby {
   position: relative;
   width: 100vw;
   font-family: 'Oswald', sans-serif;
}

/* Mapped Containers */

.gallery-container_lobby {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(110, 142, 254);
}

.lobby-container_gallery {
    width: calc(100vw - 175px);
    margin-left: 175px;
    display: flex;
    flex-flow: row wrap;
    padding: 100px 80px;
    padding-bottom: 50px;
}

.lobby-container_gallery > input {
    position: absolute;
    top: 30px;
    left: 265px;
    height: 30px;
    width: 250px;
    padding: 0px 10px;
    font-family: 'Montserrat';
    border: none;
    color: black;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.155), 0 1px 1px rgba(0, 0, 0, 0.155);

}

.lobby-container_gallery > input::placeholder {
    color: black;
}

.lobby-underline {
    position: absolute;
    top: 85px;
    left: 265px;
    width: calc(100vw - 365px);
    border-bottom: 1px solid rgba(0, 0, 0, 0.137);
}

.container-btn {
    width:100px;
    height: 15px;
    border: 1px white solid;
}

/* Side Menu */
.side-menu {
    position: fixed;
    height: 100vh;
    background: rgb(110, 142, 254);
    /* background: linear-gradient(#5b66e2, #ffffff,); */
    width: 175px;
    left: 0;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.155), 0 15px 12px rgba(0, 0, 0, 0.155);
}

.menu-header {
    background: rgb(59, 88, 192);
    width: 100%;
    height: 75px;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.466);
}

#menu-lobby {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.menu-btn {
    width: 100%;
    height: 75px;
    padding: 10px;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 300;
    overflow: hidden;
    cursor: pointer;
    letter-spacing: .5px;
}

.menu-btn:hover {
    background: rgb(76, 103, 201);
}

.menu-back {
    background: rgb(59, 88, 192);
}

.icon {
    width: 30px; 
    height: 30px;
    margin-left: 10px;
    cursor: pointer;
}

@media (max-width: 1025px) {
    .side-menu {
        visibility: hidden;
    }
    .lobby-container_gallery {
        width: 870px;
        margin-left: 50%;
        transform: translateX(-50%);
        background: blue;
        padding: 30px 30px;
    }
}