.account-page {
    padding-top: 50px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account-page > h1 {
    font-size: 35px;
    margin: 30px 0px 20px 0px;
    color: rgb(110, 142, 254);
}

.account-overview, .account-overview-edit {
    width: 80%;
    max-width: 800px;
    height: 200px;
    background: rgb(250, 250, 250);
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    padding: 25px;
    position: relative;
}

.account-overview-edit {
    height: 450px;
}

.account-upload {
    position: absolute;
    left: 130px;
    top: 20px;
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    font-size: 12px;
    z-index: 2;
    color: rgba(0, 0, 0, 0.582);
    pointer-events: none;
}

.account-overview > img, .account-overview-edit > img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.account-text {
    width: 40%;
    height: 100%;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.account-text > h1 {
    font-weight: 300;
    font-size: 16px;
    color: rgb(110, 142, 254);
}

.account-text > h2 {
    font-weight: 300;
    font-size: 22px;
    margin-top: -5px;
    margin-bottom: 15px;
}

.account-edit {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 100px;
    height: 40px;
    background: rgb(110, 142, 254);
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

.account-edit-inputs {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    width: 550px;
    height: 300px;
    position: relative;
}

.account-edit-inputs > h1, .account-edit-inputs > h2 {
    font-weight: 300;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.8);
}

.account-edit-inputs > h5 {
    position: absolute;
    right: 20px;
    top: 38px;
    font-size: 16px;
    font-weight: 300;
    color: red;
    visibility: hidden;
}

.account-edit-inputs > h4 {
    position: absolute;
    right: 20px;
    top: 125px;
    font-weight: 300;
    color: red;
    font-size: 16px;
    visibility: hidden;
}


.account-edit-inputs > input {
    width: 100%;
    height: 40px;
    margin: 5px 0px 20px 0px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 10px;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    background: rgb(252, 252, 252);
    color: rgba(0, 0, 0, 0.5);
}
.account-edit-inputs > input:focus {
    border-color: rgb(110, 142, 254);
}

.account-edit-inputs > h2 {
    font-weight: 400;
    cursor: pointer;
}

.edit-bottom {
    position: absolute;
    bottom: 0px;
    width: 750px;
    height: 60px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.edit-bottom > h3 {
    font-weight: 300;
    font-size: 18px;
    height: 40px;
    width: 130px;
    background: rgb(228, 79, 79);
    border-radius: 3px;
    color: white;
    cursor: pointer;
    margin-right: 460px;
}

.edit-bottom > h3:hover {
    background: rgb(243, 52, 52);
}

.edit-bottom > h1 {
    font-weight: 300;
    font-size: 18px;
    height: 40px;
    width: 90px;
    background: rgb(83, 214, 155);
    border-radius: 3px;
    color: white;
    cursor: pointer;
}

.edit-bottom > h1:hover {
    background: rgb(67, 181, 129);
}

.edit-bottom > h2 {
    font-weight: 300;
    font-size: 18px;
    margin-right: 30px;
    cursor: pointer;
}

.account-image-hover {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 25px;
    top: 25px;
    border-radius: 50%;
    color: white;
    cursor: pointer;
}

.account-image-hover > span {
    z-index: 1;
    opacity: 0;
}

.account-image-hover > div {
    width: 150px;
    height: 150px;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 0px;
    top: 0px;
    border-radius: 50%;
    opacity: 0;
}

.account-image-hover:hover > div, .account-image-hover:hover > span {
    opacity: 1;
    pointer-events: none;
}

@media (max-width: 800px) {
    .account-overview {
        flex-direction: column;
        min-height: 400px;
        align-items: center;
        width: 300px;
    }
    .account-text {
        align-items: center;
        margin: 0px;
        min-height: 170px;
        max-height: 170px;
    }
    .account-edit {
        top: 340px;
        left: 100px;
    }
}