.create-galleries {
    width: 100vw;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Oswald', sans-serif;
}

.create-gallery-header {
    width: 1038px;
    font-size: 25px;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.05); */
    margin: 30px 0px 20px 0px;
    color: rgb(110, 142, 254);
}

.create-gallery_card {
    width: 1200px;
    display: flex;
    justify-content: space-evenly;
    height: 475px;
    position: relative;
}

.create-gallery_cardleft {
    width: 40%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    background: rgb(252, 252, 252);
    /* background-image: url('../../styles/Media/LobbyBackdrop.png');
    background-size: 100%; */
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.create-gallery_cardleft > h3 {
    font-weight: 300;
    font-size: 30px;
    transform: translateX(-50%);
    margin-left: 50%;
    text-align: center;
}

.create-gallery_cardleft > h1 {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.80);
    margin-bottom: -10px;
    font-weight: 300;
}

.create-gallery_cardleft > h2 {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.80);
    font-weight: 300;
    margin-top: 25px;
}

.create-gallery_cardleft > input {
    width: 100%;
    height: 40px;
    margin-top: 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    /* border-color:rgba(0, 0, 255, 0.3); */
    border-radius: 3px;
    padding: 10px;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    background: rgb(252, 252, 252);
    color: rgba(0, 0, 0, 0.5);
}

.create-gallery_cardleft > input:focus {
    border-color:rgba(0, 0, 255, 0.3);
}

.create-gallery_cardleft > input::placeholder {
    color: rgba(0, 0, 0, 0.5);
    font-size: 13px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

.create-gallery-privacy {
    color: rgba(0, 0, 0, 0.472);
    display: flex;
    margin-bottom: 15px;
}

.create-gallery-privacy > div {
    width: 100px;
    height: 40px;
    background: rgb(241, 241, 241);
    margin-right: 10px;
    margin-top: 10px;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-gallery_cardright {
    width: 40%;
    background: rgb(252, 252, 252);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.create-gallery_cardright > h3 {
    font-weight: 300;
    font-size: 30px;
    margin-bottom: 10px;
}

.image-uploaders {
    width: 1038px;
    display: flex;
    flex-flow: row wrap;
    /* background: rgb(248, 248, 248); */
    background-image: url('../../styles/Media/LobbyBackdrop.png');
    background-size: cover;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 30px;
}

.image-block {
    display: flex;
    flex-direction: column;
    margin: 37px;
}

.image-block > input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.185);
    padding: 5px;
    font-size: 15px;
    font-family: 'Oswald', sans-serif;
    background: rgb(252, 252, 252);
    color: rgba(0, 0, 0, 0.472);
    margin-bottom: 5px;
}

.upload-block {
    display:flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 100%;
}

.preview-image-block {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
}

.image-caption-container {
    width: 250px;
    height: 250px;
    margin-bottom: 10px;
    position: relative;
}

.image-caption-container:hover span, .image-caption-container:hover > div {
    visibility: visible;
}

.image-caption-container span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
    color: white;
    z-index: 1;
    visibility: hidden;
    font-size: 18px;
}

.image-caption-container > div {
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    opacity: .4;
    visibility: hidden;
}

.preview-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
}

.gallery-presets {
    width: 1038px;
}

.gallery-presets > div {
    width: 100%;
    background: rgb(248, 248, 248);
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 25px;
    padding: 20px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.gallery-presets h1 {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 10px;
    top: 50px;
    writing-mode: tb-rl;
    transform: rotate(180deg);
    display: none;
}

.gallery-presets img {
    width: 170px;
    height: 150px;
    cursor: pointer;
    opacity: .2;
}

.gallery-presets img:hover {
    opacity: .8 !important;
}