.create-galleries {
    width: 100vw;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Oswald', sans-serif;
}

.create-gallery-header {
    width: 1038px;
    font-size: 25px;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.05); */
    margin: 30px 0px 20px 0px;
    color: rgb(110, 142, 254);
}

.create-gallery_card {
    width: 1200px;
    display: flex;
    justify-content: space-evenly;
    height: 475px;
    position: relative;
}

.create-gallery_cardleft {
    width: 40%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    background: rgb(252, 252, 252);
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
}

.create-gallery_cardleft > h3 {
    font-weight: 300;
    font-size: 30px;
    transform: translateX(-50%);
    margin-left: 50%;
    text-align: center;
}

.create-gallery_cardleft > h1 {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.80);
    margin-bottom: -10px;
    font-weight: 300;
}

.create-gallery_cardleft > h2 {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.80);
    font-weight: 300;
    margin-top: 25px;
}

.create-gallery_cardleft > input {
    width: 100%;
    height: 40px;
    margin-top: 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 10px;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    background: rgb(252, 252, 252);
    color: rgba(0, 0, 0, 0.5);
}

.create-gallery_cardleft > input:focus {
    border-color:rgba(0, 0, 255, 0.3);
}

.create-gallery_cardleft > input::placeholder {
    color: rgba(0, 0, 0, 0.5);
    font-size: 13px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

.create-gallery-privacy {
    color: rgba(0, 0, 0, 0.472);
    display: flex;
    margin-bottom: 15px;
}

.create-gallery-privacy > div {
    width: 100px;
    height: 40px;
    background: rgb(241, 241, 241);
    margin-right: 10px;
    margin-top: 10px;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-gallery_cardright {
    width: 40%;
    background: rgb(252, 252, 252);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}

.create-gallery_cardright > h3 {
    font-weight: 300;
    font-size: 30px;
    margin-bottom: 10px;
}

.delete-btn {
    width: 100%;
    height: 40px;
    font-size: 15px;
    font-family: 'Oswald', sans-serif;
    background: rgb(110, 142, 254);
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    transition-duration: .5s;
}

.delete-btn:hover{
    cursor: pointer;
    transition-duration: .5s;
    background: rgb(255, 107, 107);
}

.image-uploaders {
    width: 1038px;
    display: flex;
    flex-flow: row wrap;
    background: rgb(252, 252, 252);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 30px;
}

.image-block {
    display: flex;
    flex-direction: column;
    margin: 37px 37px 10px 37px;
}

.image-block > input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.185);
    padding: 5px;
    font-size: 15px;
    font-family: 'Oswald', sans-serif;
    background: rgb(252, 252, 252);
    color: rgba(0, 0, 0, 0.472);
    margin-bottom: 10px;
    text-align: center;
}

.upload-block {
    display:flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 100%;
}

.preview-image-block {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
}

.image-caption-container {
    width: 250px;
    height: 250px;
    margin-bottom: 10px;
    position: relative;
}

.image-upload {
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery-upload-fade {
    position: absolute;
    width: 250px;
    height: 210px;
    top: 85px;
    left: 114px;
    background: black;
    opacity: .4;
    visibility: hidden;
}

.gallery-upload-text {
    position: absolute;
    top: 180px;
    left: 185px;
    color: white;
    z-index: 1;
    visibility: hidden;
}

.image-add, .image-add2 {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
    top: -10px;
    right: -10px;
    color: rgba(0, 0, 0, 0.582);
    font-size: 12px;
    z-index: 1;
    pointer-events: none;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.image-add2 {
    top: 280px;
    right: 15px;
}

.main-upload-cover {
    width: 100%;
    height: 100%;
    background: black;
    position: absolute;
    opacity: 0;
}

.main-upload-cover:hover {
    opacity: .4;
}

.preview-loading {
    width: 100%;
    min-height: 210px;
    max-height: 210px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.preview-drop:hover .gallery-upload-fade, .preview-drop:hover span {
    visibility: visible;
    pointer-events: none;
}


.image-upload > div, .preview-loading > div {
    width: 40px;
    height: 40px;
    background: rgb(61, 111, 220);
    margin: 0px 10px 0px 10px;
}

.image-upload > div:first-child, .preview-loading > div:first-child {
    animation: fade 2s infinite;
}

.image-upload > div:nth-child(2), .preview-loading > div:nth-child(2) {
    margin-left: 20px;
    margin-right: 20px;
    animation: fade 2s infinite .3s;
}

.image-upload > div:nth-child(3), .preview-loading > div:nth-child(3) {
    animation: fade 2s infinite .6s;
}

.image-caption-container:hover span, .image-caption-container:hover > div {
    visibility: visible;
}

.image-caption-container span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
    color: white;
    z-index: 1;
    visibility: hidden;
    font-size: 18px;
    pointer-events: none;
}

.lobby-empty-header {
    font-size: 40px !important;
    margin-bottom: 10px;
}

.create-drag-container {
    width: 200px;
    height: 200px;
    background: red;
}

.image-caption-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    opacity: .4;
    visibility: hidden;
}

.preview-image {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.gallery-presets {
    width: 1038px;
}

.gallery-presets > div {
    width: 100%;
    background: rgb(252, 252, 252);
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 25px;
    padding: 50px 20px 20px 20px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.gallery-presets h1 {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 11px;
    text-transform: uppercase;
}

.gallery-presets img {
    width: 170px;
    height: 150px;
    cursor: pointer;
    opacity: .2;
}

.gallery-presets img:hover {
    opacity: .8 !important;
}

#edit-gallery-btn, #create-gallery-btn {
    width: 100px;
    height: 40px;
    padding: 10px;
    background: rgb(61, 111, 220);
    font-size: 13px;
    color: white;
    cursor: pointer;
    margin-bottom: 30px;
    font-weight: 300;
}

.gallery-preset {
    position: relative;
    cursor: pointer;
}

.gallery-preset:hover span, .gallery-preset:hover > div {
    visibility: visible;
}

.gallery-preset-overlay {
    position: absolute;
    left: 0px;
    width: 170px;
    height: 150px;
    background: black;
    opacity: .2;
    visibility: hidden;
    pointer-events: none;
}

.gallery-preset-name {
    position: absolute;
    left: 50%;
    top: 43%;
    color: white;
    transform: translate(-50%);
    visibility: hidden;
    pointer-events: none;
}

.gallery-music-box {
    background: rgb(204, 202, 202);
    width: 170px;
    height: 150px;
    text-align: center;
    opacity: .2;
    position: relative;
}

.gallery-music-box:hover {
    opacity: .6;
}

.gallery-audio-preview {
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 50%;
    right: -7px;
    top: -7px;
    background: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.gallery-audio-tag {
    
}

#edit-gallery-btn:hover, #create-gallery-btn:hover {
    background: rgb(52, 95, 189);
}

@media (max-width: 800px) {
    .lobby-empty-header {
        font-size: 35px !important;
    }
}

@media (max-width: 700px) {
    .lobby-empty-header {
        font-size: 28px !important;
    }
}

@media (max-width: 600px) {
    .lobby-empty-header {
        font-size: 20px !important;
        text-align: center;
    }
}