.login-container {
    width: 100vw;
    min-height: 100vh;
    background-image: url('../../styles/Media/LoginBackdrop.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Oswald', sans-serif;
}

.login-container > h1 {
    color: white;
    font-weight: 300;
    font-size: 20px;
    margin-top: 20px;
}

.login-header {
    width: 470px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    color: white;
    font-weight: 400;
    font-size: 30px;
    margin: 40px 0px;
}

.login-header > img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.login-content {
    width: 470px;
    background: white;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.055), 0 15px 12px rgba(0, 0, 0, 0.055);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 40px;
    position: relative;
}

.login-content > h1 {
    font-weight: 300;
    opacity: .7;
    letter-spacing: .5px;
    font-size: 40px;
    margin-bottom: 25px;
}

.login-content > h3 {
    visibility: hidden;
    position: absolute;
    right: 50px;
    top: 135px;
    font-weight: 300;
    font-size: 13px;
    color: red;
}

.login-content > h4 {
    visibility: hidden;
    position: absolute;
    right: 50px;
    top: 200px;
    font-weight: 300;
    font-size: 13px;
    color: red;
}

.login-content > input {
    width: 100%;
    height: 50px;
    margin-top: 15px;
    border: 2px solid rgba(0, 0, 0, 0.185);
    border-radius: 3px;
    padding: 15px;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    background: rgb(252, 252, 252);
    color: rgba(0, 0, 0, 0.472);
}

.login-content > input::placeholder {
    color: rgba(0, 0, 0, 0.472);
}

.login-content > div {
    margin-top: 15px;
    width: 100%;
    height: 50px;
    background: rgb(21, 205, 114);
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.register-highlight {
    border: 1px solid red;
}

.login-content > div:hover {
    background: rgb(4, 179, 91);
}

.login-content > h2 {
    color: rgb(0, 105, 255);
    font-weight: 400;
    font-size: 15px;
    margin-top: 25px;
}

.login-sign {
    text-decoration: underline;
    cursor: pointer;
    font-weight: 400;
}

._1, ._2, ._3, ._4, ._5 {
    color: red;
    position: absolute;
    font-size: 20px;
    right: 60px;
    visibility: hidden;
}

._1 {
    top: 135px;
}

._2 {
    top: 200px;
}

._3 {
    top: 265px;
}

._4 {
    top: 330px;
}

._5 {
    top: 395px;
}

.register-space, .register-at, .register-email, .register-name {
    position: absolute;
    font-size: 15px;
    color: red;
    right: 60px;
    top: 327px;
    font-weight: 300;
    visibility: hidden;
}

.register-at, .register-email {
    top: 263px;
}

@media (max-width: 600px) {
    .login-header, .login-content {
        width: 300px;
    }
}