.home {
    overflow-x: hidden;
}

.landing {
    width: 100vw;
    font-family: 'Oswald', sans-serif;
    color: white;
    background-image: url(../Styles/background.png);
    background-size: cover;
}

.landing-header {
    width: 100vw;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.landing-header_name {
    font-size: 25px;
}

.lighttext {
    opacity: .6;
}

.landing-header_links {
    width: 300px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 12px;
}

.landing-header_links > span {
    cursor: pointer;
}

.landing-header_search {
    width: 200px;
    height: 40px;
    background: rgb(95, 122, 221);
    border-radius: 50px;
    padding: 10px;
    box-shadow: 2px 2px 2px rgba(27, 30, 206, 0.288);
}

.landing-header_search > input  {
    background: inherit;
    color: inherit;
    font-family: inherit;
    border: none;
    height: 100%;
    width: 100%;
    padding: 0px 10px;
}

.landing-header_search > input::placeholder {
    color: inherit;
}

.landing-welcome {
    width: 100vw;
    height: calc(80vh - 100px);
    position: relative;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);}

.landing-welcome_body {
    width: 1200px;
    height: 60vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.landing-welcome_body > h1 {
    font-size: 3vw;
    font-weight: 300;
    letter-spacing: 1px;
    opacity: .8;
}

.landing-welcome_body > h3 {
    font-weight: 300;
    font-size: 1vw;
    letter-spacing: .5px;
    opacity: .8;
}

.landing-welcome_body > div {
    width: 200px;
    height: 40px;
    background: white;
    border-radius: 50px;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 50px;
    font-size: 12px;
    cursor: pointer;
}

.video-container {
    position: absolute;
    bottom: -20px;
}

.video-container > video {
    width: 425px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.landing-main {
    height: 100vh;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}