@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}

.landing {
    width: 100%;
    font-family: 'Oswald', sans-serif;
    color: white;
    background-image: url(../Styles/background.png);
    background-size: cover;
}

.landing-header {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: top;
    justify-content: space-between;
    padding: 15px;
}

.landing-header_name {
    font-size: 18px;
}

.lighttext {
    opacity: .6;
    margin-left: 5px;
}

.landing-header_links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 12px;
    margin-right: 15px;
}

.landing-header_links > span {
    cursor: pointer;
    margin-right: 10px;
    opacity: .8;
}

.landing-welcome {
    width: 100%;
    height: 400px;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
    padding-top: 40px;
}

.landing-welcome_body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.landing-welcome_body > h1 {
    font-size: 45px;
    font-weight: 300;
    letter-spacing: 1px;
    opacity: .8;
}

.landing-welcome_body > h3 {
    font-weight: 300;
    font-size: 15px;
    letter-spacing: .5px;
    opacity: .8;
}

.landing-welcome_body > div {
    width: 200px;
    height: 40px;
    background: white;
    border-radius: 50px;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 50px;
    font-size: 12px;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.video-container {
    position: absolute;
    bottom: -20px;
}

.video-container > video {
    width: 425px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.landing-main {
    height: 10000px;
    margin-top: 200px;
    font-family: 'Oswald', sans-serif;
}

.landing-back {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    visibility: hidden;
    cursor: pointer;
    background: rgb(112, 142, 252);
    color: white;
    font-size: 12px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.animate-fadeOut {
    animation: fadeOut 1s 1;
    animation-fill-mode: forwards;
}

.animate-fadeIn {
    animation: fadeIn 1s 1; 
    animation-fill-mode: forwards;
}

@media (max-width: 650px) {
    .landing-welcome_body > h1 {
        font-size: 30px;
    }
}

@media (max-width: 500px) {
    .landing-header_name {
        font-size: 15px;
    }
    .video-container > video {
        width: 300px;
    }
    .landing-header_links > span {
        font-size: 12px;
    }
    .landing-welcome_body > h1 {
        font-size: 23px;
    }
    .landing-welcome_body > h3 {
        font-size: 13px;
    }
    .landing-welcome {
        height: 325px;
    }
}