#create-galleries{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.user-galleries{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.gallery-initialization{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.name-gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.privacy-gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.thumbnail-gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

#create-gallery-btn{
    border: dashed black 1px;
}