/* Reset default browser styling */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* cursor: none !important; */
}

html {
  overflow-x: hidden;
}

input:focus {
  outline: none;
}